

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body { margin: 0px;
   
    
}

* {
    margin: 0px;
    padding: 0px;
}

#bnt-menu { 
    position: fixed;
    top: 0%;
    right: 0%;
    text-align: left;
    background-color: black;
    width: 117px;
    height: 51px;
}

i { 
    color: white;
    background-color: rgb(0, 3, 5);
    position: absolute;
    margin-top: 12%;
    margin-left: 9%;
    font-size: 25px;
}

#bnt-menu > p {
    color: white; 
    margin-left: 44%;
    margin-top: 17%;
    font-family: Lora, Arial, Helvetica, sans-serif;
    font-style: bold ;
    font-size: 0.7em;
    
}

ul {
    list-style: none;
    position: fixed;
    top: 8.5%;
    right: 1.8%;
    text-align: right;
    font-family: lora;
    font-style: bold ;
    font-size: 1em;
   


}

a { 
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    
   }

.item-menu { 
    margin-top: 15%;
   
}

#nav-top { 
    position: absolute;
    right: 2%;
    top: 1%;    

}

#img1 { 
    background-image:url(Imagens/IMG_3316.jpg);
    position: absolute;
    top: 0;
    top: 0;
    width: 60%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

#img2 { 
    background-position: center center;
    background-image: url(Imagens/imagen-menor.jpg);
    position: absolute;
    width: 40.83333%;
    top: 10%;
    left: 50%;
    bottom: 10%;
    text-align: right;
    background-size: cover;
    z-index: 1;

    }


#logo { 
        width: 185px;
        position: fixed;
        top: 1%;
        left: 19px;
    }

#logo-center { 
    
    width: 39%;
    position: absolute;
    top: 42%;
    left: 28.3%;
    z-index: 2;

}

#img3 { 
    display: block;
    background-image: url(Imagens/img-casal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    position: absolute;
    width: 38.6%;
    height: 108%;
    top: 120%;
    margin-left: 18.5%;
    
}

#text-1-img3 { 
   
    position: absolute;
    top: 126%;
    left: 48.3%;
    font-family: lora,Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 5rem;
    line-height: 7rem;
    letter-spacing: .04em;
}

#text-2-img3 { 
    margin-top: 1.2%;
    position: absolute;
    top: 130.9%;
    left: 49%;
    font-family: lora,Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 5rem;
    line-height: 8rem;
    letter-spacing: .04em;
}

#text-3-img3 { 
    font-family: lora,arial,helvetica, sans-serif;
    position: absolute;
    top: 160.9%;
    left: 65.7%;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: .05em ;
    text-align:left
}

#portfolio { 
    color: black;
    position: absolute;
    font-family: lora,arial,helvetica, sans-serif;
    font-style: bold ;
    font-size: 0.7em;
    margin-top: 30px ;
    margin-left: 1%;
}

#portfolio::after { 
    content: " ";
    width: 0%;
    height: 2px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

#portfolio:hover::after { 
    width: 100%;
}

#img-4 { 
    position: absolute;
    top: 280%;
    left: 50%;
    width: 400px;
    height: 200px;

    
}

#img-5 { 
    background-image: url(Imagens/Img-p&b-g.jpg);
}



img { 
    width: 100%;
}

